HELP.md

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/src/main/**/dao/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/src/main/java/ru/kata/spring/boot_security/demo/dao/

### OS ###
.Thumbs.db

### Java ###
.mtj.tmp/
.class
*.jar
*.war
*.nar
*.ear

